<div>
    <h1 class="text-center my-5 mx-5">Show</h1>
</div>

<div class="col-md-12 d-flex justify-content-center gap-5">

    <a asp-area="" asp-controller="Products" asp-action="Index">
        <button type="button" class="btn btn-primary btn-lg my-5">Ver listado de productos</button>
    </a>
</div>