<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>




@await Html.PartialAsync("_Modal")

<header>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a>
                <h3 class="mx-4">
                    TuBiblioteca
                </h3>
            </a>
            <!-- Search form -->
            <form class="d-none d-md-flex input-group w-auto my-auto">
                <input autocomplete="off" type="search" class="form-control rounded" placeholder='Buscar...'
                    style="min-width: 225px;" />
                <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
            </form>

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Notification dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                        role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    </ul>
                </li>

                <!-- Avatar -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                        id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                            height="22" alt="Avatar" loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">Mi perfil</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Configuraciones</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>

<div class="col-md-10">
  <div class="boxes-container">
    <div class="row">
            <div class="col-md-3">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100">
                    <a href="/"
                        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                        <span class="fs-4">Sidebar</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li>
                            <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#home"></use>
                                </svg>
                                Inicio
                            </a>
                        </li>
                        <li  class="nav-item">
                            <a asp-area="" asp-controller="Prestamos" asp-action="Index" class="nav-link active text-white">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#speedometer2"></use>
                                </svg>
                                Préstamos
                            </a>
                        </li>
                            <a asp-area="" asp-controller="Libros" asp-action="Index" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#table"></use>
                                </svg>
                                Libros
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#grid"></use>
                                </svg>
                                Clientes
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#people-circle"></use>
                                </svg>
                                Categorías
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#people-circle"></use>
                                </svg>
                                Autores
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#people-circle"></use>
                                </svg>
                                Editoriales
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32"
                                class="rounded-circle me-2">
                            <strong>mdo</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
@*Fin sidebar*@
      <div class="col-md-9">
        <div class="container">
            <h1 class="my-4">Aquí podrás gestionar los préstamos</h1>
            <div class="row">
                <div class="col-md-3">
                    <input type="date" class="form-control" id="registration-date"
                        placeholder="Fecha de registro">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="document-number"
                        placeholder="Titulo del libro">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="document-number"
                        placeholder="#Documento cliente">
                </div>
                <div class="col-md-3">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-primary" id="search-client-btn">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <a asp-area="" asp-controller="Prestamos" asp-action="Create">
                        <button class="btn btn-success btn-block" id="add-client-btn">Agregar un nuevo
                            préstamo</button>
                    </a>
                </div>

            </div>
            <div class="results mt-4"></div>
        </div>

          
          <div class="container">
            <h3 class="my-5">Últimos préstamos</h3>
            <div class="row">
              <div class="col">
        	    <table class="table table-striped table-bordered table-hover">
					<thead>
                        <tr>
                            <th>#</th>
                            <th>Titulo Libro</th>
                            <th>Cantidad</th>
                            <th>Referencia/s</th>
                            <th>Prestador</th>
                            <th>Prestado A</th>
                            <th>Correo</th>
                            <th>Estado Prestamo</th>
                            <th>Fecha Desde</th>
                            <th>Fecha Hasta</th>
                            <th>Observación</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>001</th>
                            <th>El amor en los tiempos del cólera</th>
                            <th>2</th>
                            <th>AB123</th>
                            <th>María González</th>
                            <th>Luis Pérez</th>
                            <th>luis.perez@example.com</th>
                            <th>EN PRESTAMO</th>
                            <th>2024-03-15</th>
                            <th>2024-03-29</th>
                            <th>-</th>
                            <th>
                                
                                <a asp-area="" asp-controller="Prestamos" asp-action="Edit">
                                    <button type="button" class="btn btn-primary"
                                    style="min-width: 100px;">Editar</button>
                                </a>
                                
                                <button type="button" class="btn btn-danger" style="min-width: 100px; "
                                data-toggle="modal" data-target="#exampleModalEliminarPrestamo">Eliminar</button>
                                
                            </th>
                        </tr>
                        <tr>
                            <th>002</th>
                            <th>Cien años de soledad</th>
                            <th>1</th>
                            <th>CD456</th>
                            <th>Carlos Rodríguez</th>
                            <th>Ana Martínez</th>
                            <th>ana.martinez@example.com</th>
                            <th>DEVUELTO</th>
                            <th>2024-03-18</th>
                            <th>2024-03-25</th>
                            <th>-</th>
                            <th>
                                 <a asp-area="" asp-controller="Prestamos" asp-action="Edit">
                                    <button type="button" class="btn btn-primary"
                                    style="min-width: 100px;">Editar</button>
                                </a>
                                <button type="button" class="btn btn-danger" style="min-width: 100px; "
                                data-toggle="modal" data-target="#exampleModalEliminarPrestamo">Eliminar</button>
                            </th>
                        </tr>
                        
                         <tr>
                            <th>011</th>
                            <th>La sombra del viento</th>
                            <th>3</th>
                            <th>EF789</th>
                            <th>Andrés López</th>
                            <th>Marta García</th>
                            <th>marta.garcia@example.com</th>
                            <th>EN PRESTAMO</th>
                            <th>2024-03-20</th>
                            <th>2024-04-10</th>
                            <th>-</th>
                            <th>
                                 <a asp-area="" asp-controller="Prestamos" asp-action="Edite">
                                    <button type="button" class="btn btn-primary"
                                    style="min-width: 100px;">Editar</button>
                                </a>
                                <button type="button" class="btn btn-danger" style="min-width: 100px; "
                                data-toggle="modal" data-target="#exampleModalEliminarPrestamo">Eliminar</button>
                            </th>
                        </tr>
                        <tr>
                            <th>012</th>
                            <th>Rayuela</th>
                            <th>1</th>
                            <th>GH234</th>
                            <th>Juan Pérez</th>
                            <th>David Gómez</th>
                            <th>david.gomez@example.com</th>
                            <th>EN PRESTAMO</th>
                            <th>2024-03-22</th>
                            <th>2024-04-05</th>
                            <th>-</th>
                            <th>
                                 <a asp-area="" asp-controller="Prestamos" asp-action="Edit">
                                    <button type="button" class="btn btn-primary"
                                    style="min-width: 100px;">Editar</button>
                                </a>
                                <button type="button" class="btn btn-danger" style="min-width: 100px; "
                                data-toggle="modal" data-target="#exampleModalEliminarPrestamo">Eliminar</button>
                            </th>
                        </tr>
                                        
                    </tbody>

				</table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

