
<div>
    <h1 class="text-center my-5 mx-5">Bienvenido a Pŕestamos</h1>
</div>

<div class="col-md-12 d-flex justify-content-center gap-5">
    
    <a asp-area="" asp-controller="Prestamos" asp-action="Create">
        <button type="button" class="btn btn-primary btn-lg my-5">Agregar un nuevo préstamo</button>
    </a>
</div>

<!-- Kevin -->
<h3>Últimos préstamos agregados</h3> 

<div class="container">
		<div class="row">
			<div class="col">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
                            <th>#</th>
                            <th>Titulo Libro</th>
                            <th>Cantidad</th>
                            <th>Referencias</th>
                            <th>Prestado A</th>
                            <th>Prestador</th>
                            <th>Estado</th>
                            <th>Correo</th>
                            <th>Estado</th>
                            <th>Fecha Ingreso</th>
                            <th>Última Modificación</th>
                            <th>Observación</th>
                            <th>Acción</th>
                        </tr>
					</thead>
					<tbody>
              <tr>
                  <th>0012</th>
                  <th>CC</th>
                  <th>100003915</th>
                  <th>Dkreier Radariz</th>
                  <th>KR 32 # 43-21</th>
                  <th>315965848</th>
                  <th>dkrier@gmail.com</th>
                  <th>EN PRESTAMO</th>
                  <th>23/03/2023</th>
                  <th>24/03/2024</th>
                  <th>NINGUNA</th>
                  <th>
                      <button type="button" class="btn btn-primary">Editar</button>
                      <button type="button" class="btn btn-danger">Eliminar</button>
                  </th>
              </tr>
              <tr>
                  <th>0013</th>
                  <th>Pasaporte</th>
                  <th>200456789</th>
                  <th>Andrés López</th>
                  <th>Calle 45 # 67-89</th>
                  <th>300987654</th>
                  <th>alopez@hotmail.com</th>
                  <th>DISPONIBLE</th>
                  <th>12/05/2023</th>
                  <th>20/03/2024</th>
                  <th>Reservado para viaje</th>
                  <th>
                      <button type="button" class="btn btn-primary">Editar</button>
                      <button type="button" class="btn btn-danger">Eliminar</button>
                  </th>
              </tr>
              <tr>
                  <th>0014</th>
                  <th>CC</th>
                  <th>500908765</th>
                  <th>Maria González</th>
                  <th>Av. Principal # 123</th>
                  <th>310876543</th>
                  <th>mgonzalez@gmail.com</th>
                  <th>EN MORA</th>
                  <th>30/07/2023</th>
                  <th>15/03/2024</th>
                  <th>Favor regularizar situación</th>
                  <th>
                      <button type="button" class="btn btn-primary">Editar</button>
                      <button type="button" class="btn btn-danger">Eliminar</button>
                  </th>
              </tr>
              <tr>
                  <th>0015</th>
                  <th>Cédula de Extranjería</th>
                  <th>700123456</th>
                  <th>Luisa Martínez</th>
                  <th>Cra. 15 # 34-56</th>
                  <th>320654321</th>
                  <th>lmartinez@yahoo.com</th>
                  <th>DISPONIBLE</th>
                  <th>05/10/2023</th>
                  <th>18/03/2024</th>
                  <th>---</th>
                  <th>
                      <button type="button" class="btn btn-primary">Editar</button>
                      <button type="button" class="btn btn-danger">Eliminar</button>
                  </th>
              </tr>
              <tr>
                  <th>0016</th>
                  <th>Pasaporte</th>
                  <th>300567890</th>
                  <th>David Pérez</th>
                  <th>Calle 20 # 56-78</th>
                  <th>335678901</th>
                  <th>dperez@gmail.com</th>
                  <th>EN PRESTAMO</th>
                  <th>18/02/2023</th>
                  <th>22/03/2024</th>
                  <th>---</th>
                  <th>
                      <button type="button" class="btn btn-primary">Editar</button>
                      <button type="button" class="btn btn-danger">Eliminar</button>
                  </th>
              </tr>
              <tr>
                  <th>0017</th>
                  <th>CC</th>
                  <th>400654321</th>
                  <th>Paola Sánchez</th>
                  <th>Calle 25 # 78-90</th>
                  <th>310098765</th>
                  <th>psanchez@gmail.com</th>
                  <th>DISPONIBLE</th>
                  <th>10/03/2023</th>
                  <th>17/03/2024</th>
                  <th>---</th>
                  <th>
                      <button type="button" class="btn btn-primary">Editar</button>
                      <button type="button" class="btn btn-danger">Eliminar</button>
                  </th>
              </tr>
              <tr>
                  <th>0018</th>
                  <th>Cédula de Extranjería</th>
                  <th>600234567</th>
                  <th>María Rodríguez</th>
                  <th>Av. Libertadores # 12-34</th>
                  <th>315678902</th>
                  <th>mrodriguez@hotmail.com</th>
                  <th>EN MORA</th>
                  <th>15/06/2023</th>
                  <th>21/03/2024</th>
                  <th>Pago pendiente</th>
                  <th>
                      <button type="button" class="btn btn-primary">Editar</button>
                      <button type="button" class="btn btn-danger">Eliminar</button>
                  </th>
              </tr>
              <tr>
                  <th>0019</th>
                  <th>Pasaporte</th>
                  <th>900345678</th>
                  <th>Carlos Gómez</th>
                  <th>Diagonal 10 # 45-67</th>
                  <th>300123456</th>
                  <th>cgomez@yahoo.com</th>
                  <th>EN PRESTAMO</th>
                  <th>07/09/2023</th>
                  <th>16/03/2024</th>
                  <th>---</th>
                  <th>
                      <button type="button" class="btn btn-primary">Editar</button>
                      <button type="button" class="btn btn-danger">Eliminar</button>
                  </th>
              </tr>
					</tbody>
				</table>
			</div>
        </div>
</div>