<a>
    <h3 class="mx-4">
        TuBiblioteca
    </h3>
</a>
<!-- Search form -->


<div class="alert alert-success text-center" style="font-size: 2rem;">
    <strong>El préstamo se ha registrado exitosamente.</strong>
</div>
<div class="text-center mt-3">
    <a asp-area="" asp-controller="Prestamos" asp-action="Index">
        <button type="button" class="btn btn-success">Regresar al registro</button>
    </a>
</div>