<div class="container">
    <h1>Nuevo Cliente</h1>

    <form>
        <div class="form-group">
            <label for="name">Nombres:</label>
            <input type="text" id="nombre" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label for="price">Tipo de documento:</label>
            <select class="form-control" id="tipoDoc">
                <option value="" selected disabled>Tipo de documento</option>
                <option value="CC">Cédula de Ciudadanía</option>
                <option value="TI">Tarjeta de Identidad</option>
                <option value="CE">Cédula de Extranjería</option>
                <option value="PAS">Pasaporte</option>
                <option value="NIT">NIT</option>

            </select>
        </div>
        <div class="form-group">
            <label for="name">Número de documento:</label>
            <input type="number" id="documento" class="form-control" name="documento">
        </div>
        <div class="form-group">
            <label for="count">Dirección:</label>
            <input type="string" id="direccion" class="form-control" name="direccion">
        </div>
        <div class="form-group">
            <label for="count">Teléfono:</label>
            <input type="number" id="telefono" class="form-control" name="telefono">
        </div>
        <div class="form-group">
            <label for="count">Correo:</label>
            <input type="email" id="correo" class="form-control" name="correo">
        </div>
        <div class="form-group">
            <label for="count">Estado:</label>
            <input type="string" id="estado" class="form-control" name="estado">
        </div>
        <a asp-area="" asp-controller="Clientes" asp-action="Index">
            <button type="button" class="btn btn-success mt-5">Regresar al registro</button>
        </a>
    </form>
</div>